*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body {
    margin: 0 0;
    font-family: 'Outfit', Arial, sans-serif;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    overflow-x: hidden;
}
.light{
    display: block;
    width: 100%;
    height: 10px;
    background: linear-gradient(260deg, #00fff2, #000000, #f200ff, #000000);
    background-size: 800% 800%;
    -webkit-animation: Light 31s ease infinite;
    -moz-animation: Light 31s ease infinite;
    animation: Light 31s ease infinite;
}
.header-img{
    width: 100%;
    max-width: 1200px;
    min-width: 800px;
}

.related-articles {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    text-align: left;
    font-size: 20px; 
    margin: 0 auto;
}


.related-image {
    width: 100%; 
    height: auto;
    border-radius: 5px;
    align-items: center;
}
.articles-wrapper {
    display: flex;
    justify-content: flex-start; 
    gap: 50px; 
    margin: 20px;
}
.article-image{
    width: 100%;
    max-width: 100%; 
    height: auto; 
    margin-bottom: 10px; 
}
.article-text{
    margin-bottom: 1.5em;
    line-height: 1.5em;
}
.article-container ul {
    margin: 1.5em 30px;
}
.article-container h4 {
    line-height: 1.5em;
}
.articles-container p{
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    margin-top: 10px;
}
.article-container {
    flex: 2;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
}
.related-image:hover {
    transform: scale(1.05); 
    cursor: pointer; 
}

footer {
    padding: 60px 20px 20px 20px;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    outline-style: solid;
    outline-color: cyan;
    outline-width: medium;
    outline-offset: 2px;
    border-top: grey 8px solid;
}
footer a:hover{
    text-decoration: none;
    color: cyan; 
    transition: color 0.3s ease, transform 0.3s ease;
}
footer h2{
    margin: 0.5em 0 ;
}
.logo {
    max-width: 240px;
}
.footer-content{
    width: 1200px;
    color: white;
}
.brand-button{
    display: inline-block;
    background-color: grey;
    color: white;
    padding: 14px 40px;
    text-decoration: none;
    border-radius: 5px;
}
.footer-branding{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}
.footer-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 50px;
}
footer ul li {
    list-style-type: none;
}
footer ul li a {
    text-decoration: none;
    color: white;
    line-height: 2em;
    letter-spacing: 0.1em;
}
footer h2{
    letter-spacing: 0.1em;
}
#social-media{
    display: flex;
    gap: 20px;
    padding: 20px 20px;
}
#copyright{
    color: rgba(255, 255, 255,0.7);
    text-align: right;
    padding-right: 20px;
    font-size: x-small;
}

@-webkit-keyframes Light {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Light {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Light {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .logo{
        max-width: 400px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .footer-links{
        flex-direction: row;
    }
    .footer-branding{
        flex-direction: row;
    }
    #copyright{
        text-align: left;
        font-size: small;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

  
  
  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }
  /* Media Queries para pantallas pequeñas */
@media (max-width: 768px) {
    .articles-wrapper {
        flex-direction: column; /* Cambia la dirección a columna */
    }

    .article-container {
        order: 1; /* El artículo principal aparece primero */
    }

    .related-articles {
        order: 2; /* Los artículos relacionados aparecen después del principal */
        font-size: 16px; /* Ajusta el tamaño de fuente */
        gap: 15px;
    }
}

/* Media Queries para pantallas muy pequeñas */
@media (max-width: 480px) {
    .articles-wrapper {
        flex-direction: column; /* Asegura que todos los elementos estén en una columna */
        gap: 15px;
    }

    .article-container {
        order: 1; /* El artículo principal aparece primero */
    }

    .related-articles {
        order: 2; /* Los artículos relacionados aparecen después del principal */
        font-size: 14px; /* Ajusta el tamaño de fuente */
        gap: 10px;
    }
}